.avatar__image {
    position:relative;
    z-index:0;
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
    transition:opacity 1s ease-in-out 0s;
    opacity:1;
  }

.avatar:hover .avatar__image {
    opacity:0.2;
  }