.popup__close-button {
    position: absolute;
    top:8px;
    right:7px;
    color:#ffffff;
    height:40px;
    width:40px;
    padding:0px;
    transform:rotate(-45deg);
    z-index:2;
}

@media screen and (min-width: 320px) and (max-width:972px) {
    .popup__close-button {
        top:0px;
        right:0px;
    }
 } 

