.popup__close-button-pic {
    width:58px;
    min-height:58px;
    border:none;
    transition:.2s ease-in; 
    padding:0;
    z-index:2;
    opacity:1;
    background-image:url(../../../images/close-icon.png);
    background-repeat:no-repeat;
    cursor:pointer;
}

.popup__close-button-pic:hover {
    opacity:0.6;
}

@media screen and (min-width: 320px) and (max-width:972px) {
    .popup__close-button-pic {
        width:37px;
        min-height:370px;
        background-size: 37px 37px;
        object-fit: contain;
        right: -5px;
    }
 } 
