.popup__item {
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    border:0;
    color: #000;
    margin:0 0px 29.74px 0px;
    border-bottom:1px solid #bcbcc4;
}

.popup__item:focus {
    outline-color:#1192dd;
  }

.popup__item::placeholder {
    font-size:14px;
    line-height:17px;
    color: #000000;
  } 